.breadcrumb_wrapper__img img {
    width: 100%;

}

.breadcrumb_wrapper {
    position: relative;
}

.breadcrumb_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.breadcrumb_content h2 {
    font-size: 70px;
}

.property_form {
    position: absolute;
    left: 50%;
    bottom: -2rem;
    transform: translateX(-50%);
    width: 100%;
}

.property_form .banner_form {
    border: 1px solid #ccc;
    box-shadow: 0 0 3px rgba(0, 0, 0, .4);
}

@media(max-width:992px){
     .breadcrumb_content h2 {
        font-size: 40px;
    }
}
@media(max-width:768px) {
    .breadcrumb_wrapper__img img {
        height: 240px;
        object-fit: cover;
        object-position: bottom;
    }

    .breadcrumb_content h2 {
        font-size: 40px;
    }


}

@media(max-width:576px) {
    .breadcrumb_wrapper__img img {
        height: 180px;
        object-fit: cover;
        object-position: bottom;
    }

    .breadcrumb_content h2 {
        font-size: 25px;
    }
}